<div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">

        <div class="modal-header" style="background-color: rgba(7, 134, 193, 1); font-size: 12px;">
            <h6 class="modal-title  text-white">Formulario de actualizacion de información</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form id="form-client-update" class="embed-responsive" action="{% url 'sale:update_client' %}"
              method="POST">
            {% csrf_token %}

            <div class="modal-body m-1 p-0">
                <div class="card border-info">
                    <div class="card-header" style="background-color: rgb(9,101,183);">
                        <h6 class="card-title text-center text-white mb-0" style="font-size: 12px;">Información del cliente</h6>
                    </div>
                    <div class="card-body table-responsive m-0 p-1">
                        <table class="table table-sm table-responsive" style="width: 100%; font-size: 12px">
                            <tr>
                                <td class="align-middle" style="width: 15%">Nombres</td>
                                <td colspan="3" style="width: 85%">
                                    <input type="text"
                                           class="form-control form-control-sm text-uppercase" name="full_names" id="id_full_names"
                                           placeholder="Nombres Apellidos / Razon Social" value="{{ client_obj.full_names }}" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">Tipo</td>
                                <td>
                                    <select id="document_type_sender" name="document_type_sender"
                                            class="form-control form-control-sm"
                                            style="font-size: .8375rem;" required>
                                        {% for type in type_document %}
                                            {% if client_obj.type_document == type.0 %}
                                                 <option selected value="{{ type.0 }}">{{ type.1 }}</option>
                                            {% else %}
                                                 <option value="{{ type.0 }}">{{ type.1 }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="align-middle">Documento</td>
                                <td>
                                    <input type="text"
                                           class="form-control form-control-sm" name="document" id="id_document"
                                           placeholder="Documento" value="{{ client_obj.document }}" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">Telefono</td>
                                <td>
                                    <input type="text"
                                           class="form-control form-control-sm" name="telephone" id="id_telephone"
                                           placeholder="Telefono" value="{{ client_obj.telephone_number }}">
                                </td>
                                <td colspan="4" class="align-middle">
                                    <input type="text"
                                           class="form-control form-control-sm text-uppercase" name="email" id="id_email"
                                           placeholder="correocliente@email.com" value="{{ client_obj.email }}">
                                    <input type="hidden"
                                           class="form-control" name="pk" id="id_pk"
                                           value="{{ client_obj.id }}" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">Direccion</td>
                                <td colspan="3">
                                    <input type="text"
                                           class="form-control form-control-sm text-uppercase" name="address" id="id_address"
                                           placeholder="Direccion de domicilio" value="{{ client_obj.address }}">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer p-1">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cerrar</button> &nbsp;
                <button id="update-client" type="submit" class="btn btn-sm text-white"
                        style="background-color: rgba(214, 170, 9, 1);">Actualizar
                </button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $('#form-client-update').submit(function (event) {
        event.preventDefault();
        let data = new FormData($('#form-client-update').get(0));
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            success: function (response) {
                if (response.success) {
                    toastr.success(response.success, '¡Datos actualizados correctamente!!');
                    setTimeout(() => {
                        location.reload();
                    }, 400);
                }
            },
            error: function (response) {
                toastr.error('¡Problemas al actualizar datos!', 'Mensaje');
            }
        });
    });
</script>