{#<div class="col-md-12">#}
<div class="card shadow h-100 col-md-12 p-0 m-0" style="border-color: #0297e7">
    <div class="card-body h-100 p-2 m-0">
        <table class="table-sm rounded table-responsive" id="id-table-order-sale-detail" style="width: 100%;">
            <thead class="small text-center">
            <tr class="text-white" style="background: #0297e7">
                <th scope="col" class="border-right font-weight-normal"  style="width: 5%;">Item</th>
                <th scope="col" class="border-right font-weight-normal" style="width: 30%;">Producto</th>
                <th scope="col" class="border-right font-weight-normal" style="width: 15%;">Cantidad</th>
                <th scope="col" class="border-right font-weight-normal" style="width: 15%;">Unidad</th>
                <th scope="col" class="border-right font-weight-normal" style="width: 10%;">Precio</th>
                <th scope="col" class="border-right font-weight-normal" style="width: 15%;">Importe</th>
                <th scope="col" class="font-weight-normal" style="width: 10%;">Eliminar</th>
            </tr>
            </thead>
            <tbody id="order-sale-detail">

            </tbody>
        </table>
    </div>
    <div class="card-footer h-100 p-2 m-0" style="background: #0297e7">
        <div class="row col-md-12 p-0 m-0">
            <div class="col-md-5 text-right align-self-center">

            </div>
            <div class="col-md-4 text-right align-self-center pr-1">
                <h6 class="text-white">Total: S/.</h6>
            </div>
            <div class="col-md-3 p-0">
                <input type="text" class="form-control form-control-sm font-weight-bold sum-total text-right col-md-12"
                       id="sum-total"
                       name="sum-total"
                       placeholder="" readonly>
            </div>
        </div>
    </div>
</div>
{#    <div class="card shadow h-100 col-md-12 p-0 m-0">#}
{#        <div class="card-body p-1 m-0">#}
{#            <div class="card col-md-12 p-0" style="border-color: #0297e7">#}
{#                <div class="card-body p-1">#}
{#                    <div class="row col-md-12 p-0 m-0">#}
{#                        <div class="col-md-6">#}
{##}
{#                        </div>#}
{#                        <div class="col-md-6">#}
{#                            <div class="row">#}
{#                                <div class="col-md-7 text-right align-self-center pr-1">#}
{#                                    <h6>Total: S/.</h6>#}
{#                                </div>#}
{#                                <div class="col-md-5 p-0">#}
{#                                    <input type="text" class="form-control form-control-sm sum-total text-right col-md-12"#}
{#                                           id="sum-total"#}
{#                                           name="sum-total"#}
{#                                           placeholder="" readonly>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
