<div class="row pl-3 pr-3">
    <div class="col-md-3 p-1">
        <select id="id_document_provider" name="document_provider"
                class="form-control form-control-sm text-uppercase combo">
            <option selected value="0">Documento</option>
            {% for d in provider_set %}
                <option value="{{ d.id }}">{{ d.document }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-9 p-1">
        <select id="id_names_provider" name="names_provider"
                class="form-control form-control-sm text-uppercase combo">
            <option selected value="0">Nombre o razón social - proveedor</option>
            {% for p in provider_set %}
                <option value="{{ p.id }}">{{ p.full_names }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row pl-3 pr-3">
    <div class="col-md-3 p-1 align-self-center">
        <select id="id-type-payment" name="type-payment"
                class="form-control form-control-sm text-uppercase">
            <option selected value="0">Tipo pago</option>
            {% for py in type_payment %}
                <option value="{{ py.0 }}">{{ py.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-5 p-1">
        <select id="id-cash" name="cash"
                class="form-control form-control-sm text-uppercase mod-cash" style="display: none">
            <option value="0">Seleccione</option>
            {% for c in casing_set %}
                <option value="{{ c.id }}">{{ c.name }}</option>
            {% endfor %}
        </select>
        <select id="id-deposit" name="deposit"
                class="form-control form-control-sm text-uppercase mod-deposit" style="display: none">
            {% for b in bank_set %}
                <option value="{{ b.0 }}">{{ b.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-2 p-1">
        <input type="text"
               id="id-amount-cash"
               name="amount-cash" value="0.00"
               class="form-control form-control-sm font-weight-bold text-right mod-cash" style="display: none">
        <input type="text"
               id="id-amount-deposit"
               name="amount-deposit" value="0.00"
               class="form-control form-control-sm font-weight-bold text-right mod-deposit" style="display: none">
    </div>
    <div class="col-md-2 p-1">
        <select id="id-coin" name="coin"
                class="form-control form-control-sm text-uppercase mod-cash" style="display: none">
            {% for o in coin_set %}
                <option value="{{ o.id }}">{{ o.name_coin }}</option>
            {% endfor %}
        </select>
        <input type="text" class="form-control form-control-sm text-uppercase mod-deposit" id="id-code-operation"
               name="code-operation"
               placeholder="N°OPERACIÓN" style="display: none">
    </div>
</div>
<div class="row pl-3 pr-3">
    <div class="col-md-3 p-1">
        <input type="date" class="form-control form-control-sm" id="id-date"
               value="{{ date_now }}">
    </div>
    <div class="col-md-5 p-1">
        <input type="text" class="form-control form-control-sm text-uppercase" id="id-invoice" name="invoice"
               placeholder="Nº COMPROBANTE DE LA COMPRA">
    </div>
    <div class="col-md-2 p-1">
        <button type="button" class="button text-white" id="btn-new"><i
                class="fab fa-neos"></i> <span>  Nuevo </span>
        </button>
    </div>
    <div class="col-md-2 p-1">
        <button type="button" class="button text-white" id="btn-purchase-save" onclick="CreatePurchase()"><i
                class="fa fa-database"></i> <span>  Registrar </span>
        </button>
    </div>
</div>

